{
  "FirstApp": {
    "Database": {
      "ReadConnectionString": "Server=127.0.0.1;Database=FirstApp;TrustServerCertificate=True;MultipleActiveResultSets=true;User Id=FIXME;Password=FIXME;
      "WriteConnectionString": "Server=127.0.0.1;Database=FirstApp;TrustServerCertificate=True;MultipleActiveResultSets=true;User Id=FIXME;Password=FIXME;
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
