{
  "FirstApp": {
    "Database": {
      "ReadConnectionString": "Server=(localdb)\\mssqllocaldb;Database=FirstApp;Trusted_Connection=True;MultipleActiveResultSets=true",
      "WriteConnectionString": "Server=(localdb)\\mssqllocaldb;Database=FirstApp;Trusted_Connection=True;MultipleActiveResultSets=true"
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
